@charset "UFT-8";

@media screen and (max-width:768px) {
    .cabecalho{
        flex-direction: row;
        gap: 16px;
        font-size: 20px;
    }
    .cabecalho-menu{
        margin-left: 15px;
        gap: 12px;
        justify-content: center;
    }

    .cabecalho-menu-item{
        font-size: 16px;
    }

    .conteudo-principal{
        flex-direction: row;
        text-align: center;
        padding: 20px;
    }

    .conteudo-principal-escrito-titulo{
        font-size: 30px;
    }

    .conteudo-principal-escrito-subtitulo{
        font-size: 20px;
    }

    .conteudo-principal-imagem{
        max-width: 80%;
        height: 395px;
    }

    .conteudo-principal-escrito-botao{
        height: 45px;
        margin: auto;
    }

    .conteudo-secundario-paragrafo{
        padding-left: 20px;
        text-align: center;
    }
}