@charset "UFT-8";

@media screen and (max-width: 600px) {
    body{
        background: #724b42;
    }
    .cabecalho{
        flex-direction: row;
        justify-content: flex-start;
        font-size: 20px;
        padding: 10px;
    }
    .cabecalho-menu{
        margin-left: 7px;
        gap: 10px;
        justify-content: center;
    }

    .cabecalho-menu-item{
        font-size: 20px;
        margin-left: 7px;
    }

    .conteudo-principal{
        flex-direction: row;
        text-align: center;
        padding: 20px;
    }

    .conteudo-secundario{
        margin-top: 24px;
    }

    .conteudo-secundario-paragrafo{
        font-size: 20px;
    }

    .conteudo-secundario-titulo{
        margin-top: 10px;
        padding-top: 30px;
        font-size: 20px;
    }

    .conteudo-principal-escrito-titulo{
        font-size: 30px;
    }

    .conteudo-principal-escrito-subtitulo{
        font-size: 20px;
    }

    .conteudo-principal-imagem{
        max-width: 65%;
        height: 395px;
    }

    .conteudo-principal-escrito-botao{
        height: 35px;
        margin: auto;
    }

    .conteudo-secundario-paragrafo{
        padding-left: 20px;
        text-align: center;
    }
}